<meta charset="UTF-8">
<title>@@title - Tailwind CSS Multipurpose Landing Page Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Patrola.ba- Budi odgovoran. Pomozi društvu. Prijavi probleme. Jednostavno prijavljivanje problema u tri koraka: odaberi slike, odobri lokaciju i dodaj detalje. Registrujte se da pratite ishod prijave i statuse od nadležnih službi.">
<meta name="keywords" content="agency, application, business, clean, creative, cryptocurrency, it solutions, modern, multipurpose, nft marketplace, portfolio, saas, software, tailwind css">
<meta name="author" content="Patrola.ba">
<meta name="website" content="https://patrola.ba">
<meta name="email" content="info@patrola.ba">
<meta name="version" content="1.9.5">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">